<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttt.chacha.chacha.dao.AdminMapper">

    <resultMap id="AdminUser_List" type="com.ttt.chacha.chacha.entity.AdminUser">
        <id property="id" column="id" javaType="Integer"/>
        <result property="name" column="name" javaType="String"/>
        <result property="password" column="password" javaType="String"/>
        <result property="role" column="role" javaType="String"/>
    </resultMap>

    <sql id="BASE_COLUMN">
        id,name,password,role
    </sql>

    <select id="selectAdminUserByName" resultType="com.ttt.chacha.chacha.entity.AdminUser">
        select id,name,password,role from admin_user where name = #{name}
    </select>

    <select id="getList" resultMap="AdminUser_List">
        select
        <include refid="BASE_COLUMN"/>
        from admin_user
    </select>
</mapper>