<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttt.chacha.chacha.dao.StudentMapper">

    <resultMap id="Student_List" type="com.ttt.chacha.chacha.entity.SmsStudent">
        <id property="id" column="id" javaType="Integer"/>
        <result property="name" column="name" javaType="String"/>
        <result property="age" column="age" javaType="Integer"/>
        <result property="address" column="address" javaType="String"/>
        <result property="state" column="state" javaType="Byte"/>
        <result property="duringSchoolTime" column="during_school_time" javaType="Timestamp"/>
        <result property="identityNumber" column="identity_number" javaType="String"/>
    </resultMap>

    <sql id="BASE_COLUMN">
        id,name,age,address,state,during_school_time,identity_number
    </sql>

    <select id="selectStudentByName" resultMap="Student_List">
        select
        <include refid="BASE_COLUMN"/>
        from
    </select>
</mapper>